@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind typography;

.calendar-month-view {
    width: 300px;
    margin: 0 auto;
  }
  
  .calendar-header {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
  }
  
  .grid-header {
    text-align: center;
    background-color: #f7fafc;
    padding: 0.5rem;
  }
  
  .calendar-cell {
    text-align: center;
    padding: 0.5rem;
    background-color: #edf2f7;
  }
  
  .calendar-cell:hover {
    background-color: #e2e8f0;
  }
  